:root {
    color-scheme: light dark;
}
/* ubuntu-mono-regular - latin */
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ubuntu-mono-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-mono-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-mono-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-mono-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-mono-v15-latin-regular.svg#UbuntuMono') format('svg'); /* Legacy iOS */
  }
  
  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu Mono';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem auto 5rem auto;
}

.search {
    display: flex;
    width: 40%;
    justify-content: center;
    color: #8f8f8f;
}

input {
    border-radius: 15px;
    backdrop-filter: blur(15px);
    background: transparent;
    border: 2px solid #8f8f8f;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    color: #8f8f8f;
    flex: auto;
}

input[type="text"] {
    color:#e1814e;
}

input:focus {
    outline: none;
}

h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    font-family: 'Ubuntu Mono';
    color: #8f8f8f;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 3rem;
    }
}

#date {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #8f8f8f;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    #date {
        font-size: 1.5rem;
    }
}

.iconFrame, .iconFrameSmall {
    /* box-shadow: 0 18px 150px -40px #000; */
    border-radius: 20px;
    width: auto;
    backdrop-filter: blur(15px);
    border: 2px solid #8f8f8f;
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 10px 30px 10px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
    .iconFrame, .iconFrameSmall {
        width: 100%;
        border: none;
        margin: 0;
    }
}

a {
    color: #8f8f8f;
}

.icon {
    transition: 0.3s;
}

.icon:hover {
    color: #e1814e;
    transform: rotate(15deg);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
    .icon {
        width: 170px;
        height: auto;
    }
}
