:root {
    color-scheme: light dark;
}
/* ubuntu-mono-regular - latin */
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ubuntu-mono-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-mono-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-mono-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-mono-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-mono-v15-latin-regular.svg#UbuntuMono') format('svg'); /* Legacy iOS */
  }
  
  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu Mono';
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem auto 5rem auto;
}

.search {
    display: flex;
    width: 40%;
    justify-content: center;
    color: #8f8f8f;
}

input {
    border-radius: 15px;
    backdrop-filter: blur(15px);
    background: transparent;
    border: 2px solid #8f8f8f;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    color: #fff;
    flex: auto;
}

input:focus {
    outline: none;
}

h1 {
    font-size: 5vw;
    margin-bottom: 1rem;
    font-family: 'Ubuntu Mono';
    text-shadow: 0px 5px 30px #979797;
    color: #8f8f8f;
}

#date {
    font-size: 2vw;
    margin-bottom: 2rem;
    color: #8f8f8f;
}

.iconFrame, .iconFrameSmall {
    box-shadow: 0 18px 150px -40px #000;
    border-radius: 20px;
    width: auto;
    backdrop-filter: blur(15px);
    border: 2px solid #ffffff40;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 10px 30px 10px;
}

a {
    color: #8f8f8f;
}

.icon {
    transition: 0.3s;
}

.icon:hover {
    color: #e1814e;
    transform: rotate(15deg);
}
